/* public/css/login.css */

/* Global Styles */
body {
    font-family: 'Roboto Mono', monospace; /* Scientific-looking font */
    background: linear-gradient(to right, #4E81A1, #A4B6D4); /* Blue-gray Gradient */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333; /* Text color */
}

/* Container for the login form */
.login-container {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white for a smooth effect */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Makes it responsive */
    text-align: center;
}

/* Shop Name Styling */
.shop-name {
    color: #000; /* Black text color for consistency */
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 27px; 
}

/* Title Style */
h1 {
    color: #6C9E91; /* Lighter greenish-blue */
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 20px;
}

/* Input Fields Style */
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #A4B6D4;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #f5fafd; /* Slightly off-white for inputs */
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #4E81A1;
    outline: none;
    background-color: #e0f7ff;
}

/* Button Style */
button {
    width: 100%;
    padding: 15px;
    background-color: #4E81A1;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #A4B6D4;
}

/* Error Message Style */
.error-list {
    color: #ff4d4d;
    margin-bottom: 20px;
    text-align: left;
}

.error-list li {
    margin-bottom: 5px;
}

/* Media Query for Responsiveness */
@media (max-width: 480px) {
    .login-container {
        padding: 20px;
        width: 80%; /* Adjust form width for smaller screens */
    }

    h1 {
        font-size: 20px;
    }

    input[type="email"],
    input[type="password"],
    button {
        padding: 12px;
    }
}
